<div class="col-sm-12 float-left rightSideSec">
		  
  <div class="row">
  <div class="col-sm-12">
    <div class="welcome_sec">
      <div class="welcome_sec_text">
        <h2>Welcome to Online Election West Bengal</h2>
      </div>
    </div>
  <div class="welcome_sec">
    <div class="selectDropdown">
        
    </div>
    <div class="selectDropdown">
      <div class="stockPointSecTitle_cus">
            
      </div>
    </div>
    
   
  </div>

</div>
  
  </div>
    <div class="row">
      <div class="stockPointSecTitle_cus">
        <h2>Election Status  </h2>
    </div>
    <div class="threeBoxNewmain">
     

      <div class="col-sm-12 float-left top_no_padding">
      <div class="col-sm-4 float-left margin_bot">
        <div class="threeBoxNewSmall box_col_1">
          <div class="threeBoxImg" style="height: 315px; width: 100%;">
          
          </div>
          <div class="threeBoxTxt">
            <h2>Total Voter</h2>
            <p class="price">
             <span class="lit" id="total_voter"><%= total_voter %></span>
            </p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-4 margin_bot float-left">
        <div class="threeBoxNewSmall box_col_2">
          <div class="threeBoxImg yellowCol"><img src="/images/icon_d.png" alt=""></div>
          <div class="threeBoxTxt">
            <h2>Total Candidate</h2>
            <p class="price">
             <span class="lit" id="total_candidate"><%= total_candidate %></span>
            </p>
          
          </div>
        </div>
      </div>
      

      <div class="col-sm-4 margin_bot float-left">
        <div class="threeBoxNewSmall box_col_3">
          <div class="threeBoxImg yellowCol"><img src="/images/icon_d.png" alt=""></div>
          <div class="threeBoxTxt">
            <h2>Voter Caste</h2>
            <p class="price">
             <span class="lit" id="total_vote"><%= total_vote %></span>
            </p>
          
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-4 margin_bot float-left">
        <div class="threeBoxNewSmall box_col_4">
          <div class="threeBoxImg greenCol"><img src="/images/icon_f.png" alt="">
          </div>
          <div class="threeBoxTxt">
            <h2>Vote cast (%)</h2>
            <p class="price">
              <span class="lit" id="total_completed"></span>
            </p><br>
           
          </div>
        </div>
      </div> -->

     
    </div>
    </div>

    </div>
  </div>



