<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Election,West Bengal</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/css/select2.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/apps.css">
    <link rel="stylesheet" href="/css/apps_newDashboard.css">
    <link rel="stylesheet" href="/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.0/css/buttons.dataTables.min.css">

     <script src="/jscustom/bootstrap.bundle.min.js"></script>
    <script src="/jscustom/Chart.js"></script>
    <script src="/jscustom/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<style>
    .select2-container--default .select2-selection--single {
    height: 38px; /* Adjust height if needed */
    padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px; /* Adjust line-height if needed */
}
    </style>