<style>
  #suggestions {
      position: absolute;
      z-index: 1000; /* Ensure it appears above other elements */
    
  }
</style>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title card_title_cus">
            </h4>
            <div class="table-responsive pt-3 custome_table_res">
            
              <table class="table_cus table-striped" style="width:100%" id="example">
                <thead>
                  <tr>
                    <th class="society_th_1">SL No</th>
                    <th class="society_th_6">Name</th>
                    <th class="society_th_9">Image</th>
                    <th class="society_th_9">Mobile NO.</th>
                    
                  </tr>
                </thead>
                <tbody id="item-list">
                  <% var i=1
                  data.forEach(dt => { %>
                      <tr>
                          <td><%= i++ %></td>
                          <td><%= dt.user_name %></td>
                           <td> <img src="<%= dt.profile_pic && dt.profile_pic.trim() !== '' ? '/uploads/profile_pic/' + dt.profile_pic : '/images/sample.png' %>" 
                                    alt="User"
                                    width="70" height="70"
                                    style="border-radius:50%; object-fit:cover;">
                                  </td>
                          <td><%= dt.user_id %></td>
                         
                      </tr>
                  <% }) %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
</div>